body {
  background-color: rgb(38, 38, 38);
  font-family: 'Open Sans', sans-serif;
}

/** Buttons */

#buttons {
  margin: 50px auto 20px auto;
  text-align: center;
  width: 380px;
}

#studyButton, #buildButton {
  border: solid 1px #dfdfdf;
  color: #dfdfdf;
  cursor: pointer;
  display: inline-block;
  margin: 0 -2px;
  padding: 10px;
  text-align: center;
  width: 100px;

  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

#studyButton:hover, #buildButton:hover {
  background-color: #555;
}

#studyButton.selectedButton, #buildButton.selectedButton {
  background-color: #3893e8;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2) inset;
  color: white;
  font-weight: 700;
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5);
}

#studyButton {
  border-radius: 3px 0 0 3px;
}

#buildButton {
  border-radius: 0 3px 3px 0;
}

/** Study mode */

#studyMode {
  text-align: center;
}

#studyBoard {
  display: inline-block;
  width: 400px;
}

/** Build mode */

#buildMode {
  text-align: center;
}

#buildModeLeft, #buildModeRight {
  display: inline-block;
  vertical-align: top;
  width: 45%;
}

#buildModeLeft {
  text-align: right;
}

#buildModeRight {
  text-align: left;
}

#buildBoard {
  display: inline-block;
  width: 400px;
}

#treeView {
  display: inline-block;
  height: 400px;
  vertical-align: top;
}

.treeViewRow {

}

.treeViewRow.evenRow {
}

.treeViewRow.oddRow {
}

.treeViewNode {
  color: #dfdfdf;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 0 1px;
  padding: 3px;
}

.treeViewNode:hover {
  background-color: #3893e8;
}

.treeViewNode.selectedNode {
  background-color: rgba(56, 147, 232, 0.4);
  font-weight: 700;
}

/** Other stuff */

.hidden {
  display: none;
}