body {
  background-color: rgb(38, 38, 38);
  color: #dfdfdf;
  font-family: 'Open Sans', sans-serif;
}

/** Header */

#title {
  float: left;
  font-family: 'Niramit', 'Open Sans', sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
}

#headerContainer {
  margin: 0 auto;
  padding: 10px 0;
  max-width: 800px;
  width: 90%;
}

#logo {
  position: absolute;
  width: 60px;
}

#header {
  border-bottom: solid 1px #dfdfdf;
  display: inline-block;
  float: right;
  font-size: 14px;
  height: 40px;
  text-align: right;
  width: calc(100% - 80px);
}

#login, #logout {
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  margin-left: 10px;
  padding: 5px 10px;
  text-transform: uppercase;
  vertical-align: middle;

  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

#login:hover, #logout:hover {
  background-color: #555;
}

#hello {
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

#picture {
  border-radius: 50%;
  margin-right: 3px;
  vertical-align: middle;
  width: 32px;
}

/** Buttons */

#buttons {
  margin: 50px auto 20px auto;
  text-align: center;
  width: 380px;
}

#studyButton, #buildButton {
  border: solid 1px #dfdfdf;
  cursor: pointer;
  display: inline-block;
  margin: 0 -2px;
  padding: 10px;
  text-align: center;
  width: 100px;

  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

#studyButton:hover, #buildButton:hover {
  background-color: #555;
}

#studyButton.selectedButton, #buildButton.selectedButton {
  background-color: #3893e8;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2) inset;
  color: white;
  font-weight: 700;
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5);
}

#studyButton {
  border-radius: 3px 0 0 3px;
}

#buildButton {
  border-radius: 0 3px 3px 0;
}

/** Study mode */

#studyMode {
  text-align: center;
}

#studyBoard {
  display: inline-block;
  width: 400px;
}

/** Build mode */

#buildMode {
  text-align: center;
  margin: 0 auto;
  max-width: 860px;
}

#buildModeLeft, #buildModeRight {
  display: inline-block;
  vertical-align: top;
  width: 48%;
}

#buildModeLeft {
  text-align: right;
}

#buildModeRight {
  text-align: left;
}

#buildBoard {
  display: inline-block;
  max-width: 400px;
  width: 100%;
}

#colorChooser {
  font-size: 14px;
  margin: 5px 0 15px 20px;
}

#colorChooserWhite, #colorChooserBlack {
  border: solid 1px #dfdfdf;
  cursor: pointer;
  display: inline-block;
  margin: 0 -2px;
  padding: 3px;
  text-align: center;
  width: 50px;

  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

#colorChooserWhite {
  border-radius: 3px 0 0 3px;
  margin-left: 5px;
}

#colorChooserBlack {
  border-radius: 0 3px 3px 0;
}

#colorChooserWhite:hover, #colorChooserBlack:hover {
  background-color: #555;
}

#colorChooserWhite.selectedColor {
  background-color: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2) inset;
  color: black;
  font-weight: 700;
}

#colorChooserBlack.selectedColor {
  background-color: black;
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.6) inset;
  color: white;
  font-weight: 700;
}

#emptyTree {
  color: #aaa;
  font-size: 18px;
  font-weight: bold;
  max-width: 300px;
  padding: 20px;
  text-shadow: 0px 1px 3px black;
}

#treeView {
  display: inline-block;
  height: 400px;
  vertical-align: top;
}

.treeViewRow {

}

.treeViewRow.evenRow {
}

.treeViewRow.oddRow {
}

.treeViewNode {
  cursor: pointer;
  display: inline-block;
  font-family: 'Chakra Petch', 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0 1px;
  padding: 3px;
}

.treeViewNode:hover {
  background-color: #3893e8;
}

.treeViewNode.selectedNode {
  background-color: rgba(56, 147, 232, 0.4);
  font-weight: 700;
}

/** Other stuff */

.hidden {
  display: none !important;
}