/** Blue */

#blueBoardThemeButton,
.blueBoardTheme {
  background-image: url('/img/board/blue.svg');
}

.blueBoardThemePreview {
  background-image: url('/img/board/blue.svg') !important;
}

/** Brown */

#brownBoardThemeButton,
.brownBoardTheme {
  background-image: url('/img/board/brown.svg');
}

.brownBoardThemePreview {
  background-image: url('/img/board/brown.svg') !important;
}

/** Gray */

#grayBoardThemeButton,
.grayBoardTheme {
  background-image: url('/img/board/gray.jpg');
}

.grayBoardThemePreview {
  background-image: url('/img/board/gray.jpg') !important;
}

/** Green */

#greenBoardThemeButton,
.greenBoardTheme {
  background-image: url('/img/board/green.svg');
}

.greenBoardThemePreview {
  background-image: url('/img/board/green.svg') !important;
}

/** Leather */

#leatherBoardThemeButton,
.leatherBoardTheme {
  background-image: url('/img/board/leather.jpg');
}

.leatherBoardThemePreview {
  background-image: url('/img/board/leather.jpg') !important;
}

/** Marble */

#marbleBoardThemeButton,
.marbleBoardTheme {
  background-image: url('/img/board/marble.jpg');
}

.marbleBoardThemePreview {
  background-image: url('/img/board/marble.jpg') !important;
}

/** Purple */

#purpleBoardThemeButton,
.purpleBoardTheme {
  background-image: url('/img/board/purple.svg');
}

.purpleBoardThemePreview {
  background-image: url('/img/board/purple.svg') !important;
}

/** Wood1 */

#wood1BoardThemeButton,
.wood1BoardTheme {
  background-image: url('/img/board/wood1.jpg');
}

.wood1BoardThemePreview {
  background-image: url('/img/board/wood1.jpg') !important;
}

/** Wood2 */

#wood2BoardThemeButton,
.wood2BoardTheme {
  background-image: url('/img/board/wood2.jpg');
}

.wood2BoardThemePreview {
  background-image: url('/img/board/wood2.jpg') !important;
}

/** Wood3 */

#wood3BoardThemeButton,
.wood3BoardTheme {
  background-image: url('/img/board/wood3.jpg');
}

.wood3BoardThemePreview {
  background-image: url('/img/board/wood3.jpg') !important;
}
