/** Blue */

#boardThemeBlueButton,
.blueThemeBoard {
  background-image: url('/img/board/blue.svg');
}

.blueThemeBoardPreview {
  background-image: url('/img/board/blue.svg') !important;
}

/** Brown */

#boardThemeBrownButton,
.brownThemeBoard {
  background-image: url('/img/board/brown.svg');
}

.brownThemeBoardPreview {
  background-image: url('/img/board/brown.svg') !important;
}

/** Green */

#boardThemeGreenButton,
.greenThemeBoard {
  background-image: url('/img/board/green.svg');
}

.greenThemeBoardPreview {
  background-image: url('/img/board/green.svg') !important;
}

/** Purple */

#boardThemePurpleButton,
.purpleThemeBoard {
  background-image: url('/img/board/purple.svg');
}

.purpleThemeBoardPreview {
  background-image: url('/img/board/purple.svg') !important;
}