/** Blue */

#blueBoardThemeButton,
.blueBoardTheme {
  background-image: url('/img/board/blue.svg');
}

.blueBoardThemePreview {
  background-image: url('/img/board/blue.svg') !important;
}

/** Brown */

#brownBoardThemeButton,
.brownBoardTheme {
  background-image: url('/img/board/brown.svg');
}

.brownBoardThemePreview {
  background-image: url('/img/board/brown.svg') !important;
}

/** Gray */

#grayBoardThemeButton,
.grayBoardTheme {
  background-image: url('/img/board/gray.jpg');
}

.grayBoardThemePreview {
  background-image: url('/img/board/gray.jpg') !important;
}

/** Green */

#greenBoardThemeButton,
.greenBoardTheme {
  background-image: url('/img/board/green.svg');
}

.greenBoardThemePreview {
  background-image: url('/img/board/green.svg') !important;
}

/** Purple */

#purpleBoardThemeButton,
.purpleBoardTheme {
  background-image: url('/img/board/purple.svg');
}

.purpleBoardThemePreview {
  background-image: url('/img/board/purple.svg') !important;
}
