:root {
  --dark-gray-bg: rgb(30, 30, 30);
  --light-gray-bg: rgb(40, 40, 40);
  --very-light-gray-bg: rgb(100, 100, 100);
  --empty-study-bg: rgba(30, 30, 30, 0.8);
  --gray-hover-bg: rgb(85, 85, 85);
  --blue-hover-bg: rgba(56, 147, 232, 0.4);
  --blue-selected-bg: rgb(56, 147, 232);

  --dark-gray-box-shadow: 0 0 4px #dfdfdf inset;
  --dark-gray-border: solid 1px rgb(50, 50, 50);
  --light-gray-border: solid 1px #dfdfdf;

  --dark-gray-gradient: linear-gradient(
      to bottom,
      rgb(50, 50, 50),
      rgb(30, 30, 30)
      116px);

  --light-gray-fg: #dfdfdf;
  --link-blue-fg: #3893e8;
  
  --right-move-flash: rgb(155, 199, 0);
  --finish-line-flash: #ffd700;

  --warning-selected-node-bg: rgb(255, 255, 204);

  --transposition-node-bg: rgba(120, 120, 120, 0.4);
  --transposition-hover-node-bg: rgba(120, 120, 120, 0.7);
  --transposition-selected-node-bg: rgb(120, 120, 120);

  --warning-tooltip-bg: #ffc;
}

body {
  background-color: var(--dark-gray-bg);
  background-image: var(--dark-gray-gradient);
  color: var(--light-gray-fg);
  font-family: 'Open Sans', sans-serif;
}

div, img {
  outline: none !important;
}

/** Header */

#title {
  float: left;
  font-family: 'Niramit', 'Open Sans', sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
}

#headerContainer {
  margin: 0 auto;
  padding: 10px 0;
  max-width: 800px;
  width: 90%;
}

#logo {
  position: absolute;
  width: 60px;
}

#header {
  border-bottom: var(--light-gray-border);
  display: inline-block;
  float: right;
  font-size: 14px;
  height: 40px;
  text-align: right;
  width: calc(100% - 80px);
}

#login, #logout {
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  margin-left: 10px;
  padding: 5px 10px;
  text-transform: uppercase;
  vertical-align: middle;

  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

#login:hover, #logout:hover {
  background-color: var(--gray-hover-bg);
}

#hello {
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

#picture {
  border-radius: 50%;
  margin-right: 3px;
  vertical-align: middle;
  width: 32px;
}

/** Buttons */

#buttons {
  margin: 20px auto 20px auto;
  text-align: center;
  width: 380px;
}

#studyButton, #buildButton {
  border: solid 1px var(--light-gray-fg);
  cursor: pointer;
  display: inline-block;
  margin: 0 -2px;
  padding: 10px;
  text-align: center;
  width: 100px;

  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

#studyButton:hover, #buildButton:hover {
  background-color: var(--gray-hover-bg);
}

#studyButton.selectedButton, #buildButton.selectedButton {
  background-color: #3893e8;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2) inset;
  color: white;
  font-weight: 700;
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5);
}

#studyButton {
  border-radius: 3px 0 0 3px;
}

#buildButton {
  border-radius: 0 3px 3px 0;
}

/** Picker */

#picker {
  border: var(--dark-gray-border);
  font-size: 12px;
  max-height: 200px;
  margin: 20px auto 0 auto;
  width: 250px;
}

#picker > div {
  background-color: var(--light-gray-bg);
  cursor: pointer;
  height: 17px;
  overflow: hidden;
  padding: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#picker > div img {
  height: 14px;
  margin: 0 5px 0 3px;
  vertical-align: middle;
}

#picker > div:hover {
  background-color: var(--blue-hover-bg);
}

#picker > div.metadata > .metadataName {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 215px;
}

#picker > div.metadata.selected {
  background-color: var(--blue-selected-bg);
  color: white;
  font-weight: bold;
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5);
}

#picker > div.metadata > .hoverButton {
  background-size: contain;
  display: inline-block;
  float: right;
  margin: 3px 2px 0 2px;
  opacity: 0.2;
}

#picker > div.metadata > .deleteButton {
  background-image: url(../img/x.png);
  height: 12px;
  width: 12px;
}

#picker > div.metadata:hover > .hoverButton {
  opacity: 0.6;
}

#picker > div.metadata > .hoverButton:hover {
  opacity: 1;
}

#picker > div#addMetadata {
  border-top: var(--dark-gray-border);
  color: var(--link-blue-fg);
}

#picker > div#addMetadata > span {
  vertical-align: middle
}

/** Study mode */

#studyMode {
  text-align: center;
}

#emptyStudy {
  background-color: var(--empty-study-bg);
  height: 345px;
  padding-top: 120px;
  position: absolute;
  right: -2px;
  width: 100%;
  z-index: 100;
}

#exampleRepertoire {
  color: var(--link-blue-fg);
  cursor: pointer;
}

#studyBoard {
  display: inline-block;
  max-height: 450px;
  max-width: 450px;
  height: 70vw;
  width: 70vw;
}

#studyBoard.wrongMove {
  animation-name: wrongMoveFlash;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
}

@keyframes wrongMoveFlash {
  0% {
    box-shadow: 0 0 100px 8px red;
  }
  100% {
    box-shadow: none;
  }
}

#studyBoard.rightMove {
  animation-name: rightMoveFlash;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
}

@keyframes rightMoveFlash {
  0% {
    box-shadow: 0 0 60px 2px var(--right-move-flash);
  }
  100% {
    box-shadow: none;
  }
}

#studyBoard.finishLine {
  animation-name: finishLineFlash;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes finishLineFlash {
  0% {
    box-shadow: 0 0 100px 8px var(--finish-line-flash);
  }
  100% {
    box-shadow: none;
  }
}

/** Build mode */

#buildMode {
  text-align: center;
  margin: 0 auto;
  max-width: 860px;
}

#buildModeLeft, #buildModeRight {
  display: inline-block;
  vertical-align: top;
  width: 48%;
}

#buildModeLeft {
  text-align: right;
}

#buildModeRight {
  text-align: left;
}

#buildBoard {
  display: inline-block;
  margin: 0 20px 12px 0;
  max-height: 380px;
  max-width: 380px;
  height: 40vw;
  width: 40vw;
}

#colorChooser {
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

#colorChooserWhite, #colorChooserBlack {
  border: var(--light-gray-border);
  cursor: pointer;
  display: inline-block;
  margin: 0 -2px;
  padding: 3px;
  text-align: center;
  width: 50px;

  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

#colorChooserWhite {
  border-radius: 3px 0 0 3px;
  margin-left: 5px;
}

#colorChooserBlack {
  border-radius: 0 3px 3px 0;
}

#colorChooserWhite:hover, #colorChooserBlack:hover {
  background-color: var(--gray-hover-bg);
}

#colorChooserWhite.selectedColor {
  background-color: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2) inset;
  color: black;
  font-weight: 700;
}

#colorChooserBlack.selectedColor {
  background-color: black;
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.6) inset;
  color: white;
  font-weight: 700;
}

#emptyTree {
  max-width: 300px;
  padding: 20px;
}

#treeView {
  background-color: var(--light-gray-bg);
  box-shadow: var(--dark-gray-box-shadow);
  display: inline-block;
  height: 385px;
  overflow: scroll;
  padding: 5px;
  resize: both;
  vertical-align: top;
  width: 90%;
}

.treeViewNode {
  cursor: pointer;
  display: inline-block;
  font-family: 'Chakra Petch', 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 0 1px;
  padding: 3px;
}

.treeViewNode-small {
  font-size: 14px;
}

.treeViewNode:hover {
  background-color: var(--blue-hover-bg);
}

.treeViewNode.selectedNode {
  background-color: var(--blue-selected-bg);
  font-weight: 700;
}

.treeViewNode.warningNode {
  animation-name: warningPulsate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.treeViewNode.selectedNode.warningNode {
  background-color: var(--warning-selected-node-bg);
  color: #111;

  animation: none;
}

.treeViewNode.transpositionNode {
  background-color: var(--transposition-node-bg);
}

.treeViewNode.transpositionNode:hover {
  background-color: var(--transposition-hover-node-bg);
}

.treeViewNode.selectedNode.transpositionNode {
  background-color: var(--transposition-selected-node-bg);
}

@keyframes warningPulsate {
  0% {
    background-color: var(--light-gray-bg);
    color: var(--light-gray-fg);
  }
  25% {
    background-color: #dddd68;
    color: black;
  }
  75% {
    background-color: #dddd68;
    color: black;
  }
  100% {
    background-color: var(--light-gray-bg);
    color: var(--light-gray-fg);
  }
}

.warningTooltip-theme {
  background-color: var(--warning-tooltip-bg);
  color: #222;
  text-align: left;
}

.warningTooltipContent-title {
  border-bottom: solid 1px #222;
  font-weight: bold;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.warningTooltipContent-list {
  margin: 0;
  padding-inline-start: 25px;
}

.transpositionTooltip-theme {
  background-color: var(--very-light-gray-bg);
  color: var(--light-gray-fg);
  text-align: left;
}

.transpositionTooltipContent-title {
  border-bottom: solid 1px var(--light-gray-fg);
  font-weight: bold;
  margin-bottom: 8px;
  text-transform: uppercase;
}

#treeButtons {
  margin-top: 5px;
  max-width: 400px;
  text-align: center;
  width: 90%;
}

#treeButtonRight {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#treeButtonTrash {
  padding: 5px 7px !important;
  width: 14px !important;
}

#treeButtonLeft,
#treeButtonRight,
#treeButtonTrash {
  display: inline-block;
  padding: 5px;
  height: 15px;
  margin: 0;
  width: 18px;

  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

/** Toasts */

.toast {
  max-width: 450px !important;
  width: 80% !important;
}

/** Feedback button */

#doorbell-button {
  background-color: #ddd;
  color: black;
}

#doorbell-button:hover {
  background-color: #eee;
}

/** Other stuff */

.hidden {
  display: none !important;
}

.disabled {
  opacity: 0.3;
}

.selectable {
  cursor: pointer;
}

.selectable:hover {
  background-color: var(--gray-hover-bg);
}

.helpText {
  color: #aaa;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0px 1px 3px black;
}