body {
  background-color: var(--dark-gray-bg);
  background-image: var(--dark-gray-gradient);
  color: var(--light-gray-fg);
  font-family: "Open Sans", sans-serif;
}

.studyBoard_button {
  margin: 12px 12px;
}

div,
img {
  outline: none !important;
}

/** Header */

#title {
  float: left;
  font-family: "Niramit", "Open Sans", sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
}

#headerContainer {
  margin: 0 auto;
  padding: 10px 0;
  max-width: 800px;
  width: 90%;
}

#logo {
  position: absolute;
  width: 60px;
}

#header {
  border-bottom: var(--light-gray-border);
  float: right;
  font-size: 14px;
  height: 40px;
  text-align: right;
  width: calc(100% - 80px);
}

#login,
#logout {
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  margin-left: 10px;
  padding: 5px 10px;
  text-transform: uppercase;
  vertical-align: middle;
}

#hello {
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

#picture {
  border-radius: 50%;
  margin-right: 3px;
  vertical-align: middle;
  width: 32px;
}

/** Mode buttons */

#modeButtons {
  margin: 20px auto 20px auto;
  text-align: center;
  width: 380px;
}

#modeButtons .modeButton {
  border: var(--light-gray-border);
  cursor: pointer;
  display: inline-block;
  margin: 0 -3px;
  padding: 10px;
  text-align: center;
  width: 85px;
}

#modeButtons .modeButton.selectedMode {
  background-color: #3893e8;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2) inset;
  color: white;
  font-weight: 700;
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5);
}

#modeButtons .modeButton:first-child {
  border-radius: 3px 0 0 3px;
}

#modeButtons .modeButton:last-child {
  border-radius: 0 3px 3px 0;
}

/** Picker */

#picker {
  border: var(--very-dark-gray-border);
  font-size: 14px;
  margin: 30px auto 100px auto;
  width: 310px;
}

#picker > div {
  cursor: pointer;
  height: 20px;
  overflow: hidden;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#picker > div.metadata:hover {
  background-color: var(--blue-hover-bg);
}

#picker > div.metadata > .metadataName {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 265px;
}

#picker > div.metadata.selected {
  background-color: var(--blue-selected-bg);
  color: white;
  font-weight: bold;
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5);
}

#picker > div.metadata > .hoverButton {
  background-size: contain;
  float: right;
  margin: 3px 2px 0 2px;
  opacity: 0.2;
}

#picker > div.metadata > .deleteButton {
  background-image: url(../img/x.png);
  height: 12px;
  width: 12px;
}

#picker > div.metadata:hover > .hoverButton {
  opacity: 0.6;
}

#picker > div.metadata > .hoverButton:hover {
  opacity: 1;
}

#picker > div#addMetadata {
  border-top: var(--very-dark-gray-border);
  color: var(--link-blue-fg);
  opacity: 0.7;
}

#picker > div#addMetadata:hover {
  opacity: 1;
}

#picker > div#addMetadata > img {
  height: 14px;
  margin: 2px 5px 0 3px;
}

#picker > div#addMetadata > span {
  vertical-align: top;
}

#pickerConfirmDeleteDialog {
  max-width: 300px;
}

#pickerConfirmDeleteDialog > #pickerConfirmDeleteMessage {
  margin-bottom: 10px;
}

#pickerConfirmDeleteDialog #pickerConfirmDeleteName {
  font-weight: bold;
}

#pickerConfirmDeleteDialog > #pickerConfirmDeleteOk {
  background-color: var(--delete-red-bg);
  opacity: 0.9;
}

#pickerConfirmDeleteDialog > #pickerConfirmDeleteOk:hover {
  opacity: 1;
}

/** Study mode */

#studyMode {
  text-align: center;
}

#emptyStudy {
  background-color: var(--empty-study-bg);
  height: 47vmin;
  left: 0;
  padding-top: 23vmin;
  position: absolute;
  right: 0;
  z-index: 100;
}

#studyBoard {
  background-size: cover;
  display: inline-block;
  height: 70vmin;
  width: 70vmin;
}

#studyBoard.wrongMove {
  animation-name: wrongMoveFlash;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
}

@keyframes wrongMoveFlash {
  0% {
    box-shadow: 0 0 100px 8px var(--wrong-move-flash);
  }
  100% {
    box-shadow: none;
  }
}

#studyBoard.rightMove {
  animation-name: rightMoveFlash;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
}

@keyframes rightMoveFlash {
  0% {
    box-shadow: 0 0 60px 2px var(--right-move-flash);
  }
  100% {
    box-shadow: none;
  }
}

#studyBoard.finishLine {
  animation-name: finishLineFlash;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes finishLineFlash {
  0% {
    box-shadow: 0 0 100px 8px var(--finish-line-flash);
  }
  100% {
    box-shadow: none;
  }
}

#studyMessage {
  margin-bottom: 5px;
}

/** Build mode */

#importPgnDialog {
  min-width: 400px;
}

#importPgnDialog > #importPgnTextArea {
  background: none;
  color: var(--light-gray-fg);
  height: 150px;
  margin: 10px 0;
  width: 400px;
}

#importPgnDialog > #importPgnUpload {
  display: block;
  margin-bottom: 10px;
}

#importPgnDialog > #importPgnProgress {
  font-size: 10px;
}

#buildMode {
  text-align: center;
  margin: 0 auto;
}

#buildModeLeft,
#buildModeRight {
  display: inline-block;
  vertical-align: top;
  width: 48%;
}

#buildModeLeft {
  text-align: right;
}

#buildModeRight {
  text-align: left;
}

#buildBoard {
  background-size: cover;
  display: inline-block;
  margin: 0 20px 12px 0;
  height: 40vw;
  width: 40vw;
  max-height: 70vh;
  max-width: 70vh;
}

#colorChooser {
  float: right;
  font-size: 14px;
  margin: 10px 28px 0 0;
  text-align: center;
  width: 40vw;
  max-width: 70vh;
}

#colorChooserWhite,
#colorChooserBlack {
  border: var(--light-gray-border);
  cursor: pointer;
  display: inline-block;
  margin: 0 -2px;
  padding: 3px;
  text-align: center;
  width: 50px;
}

#colorChooserWhite {
  border-radius: 3px 0 0 3px;
  margin-left: 5px;
}

#colorChooserBlack {
  border-radius: 0 3px 3px 0;
}

#colorChooserWhite.selectedColor {
  background-color: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2) inset;
  color: black;
  font-weight: 700;
}

#colorChooserBlack.selectedColor {
  background-color: black;
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.6) inset;
  color: white;
  font-weight: 700;
}

#emptyBuild {
  max-width: 300px;
  padding: 20px;
}

#exampleRepertoire {
  color: var(--link-blue-fg);
  cursor: pointer;
  opacity: 0.9;
}

#importPgn {
  background: var(--dark-gray-gradient);
  border: var(--dark-gray-border);
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  margin-top: 5px;
  opacity: 0.9;
  padding: 7px 11px;
}

#exampleRepertoire:hover,
#importPgn:hover {
  opacity: 1;
}

#importPgn > img {
  margin: 3px 4px 0 2px;
  width: 13px;
}

#importPgn > span {
  vertical-align: top;
}

#renameInput {
  border: var(--very-dark-gray-border);
  padding: 5px;
}

#repertoireNameLabel {
  padding: 6px;
}

#renameInput,
#repertoireNameLabel {
  background: none;
  color: var(--light-gray-fg);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

#buildTreeViewOuter {
  height: calc(40vw - 38px);
}

/** Tree */

.treeViewOuter {
  background-color: var(--light-gray-bg);
  box-shadow: var(--dark-gray-box-shadow);
  box-sizing: border-box;
  display: inline-block;
  max-height: calc(70vh - 38px);
  overflow: scroll;
  padding: 5px;
  resize: both;
  vertical-align: top;
  width: 100%;
}

.treeViewInner {
  /**
   * The segment and row borders are positioned absolutely and must have a
   * relatively-positioned ancestor within the scrolling container.
   */
  position: relative;
}

.treeViewSegment {
  border-left: var(--tree-border);
  padding-left: 15px;
}

.treeViewInner > .treeViewRow:not(:first-child) > .treeViewSegment::before,
.treeViewSegment > .treeViewRow > .treeViewSegment::before {
  border-right: var(--tree-border);
  content: " ";
  margin-left: -16px;
  margin-top: -11px;
  position: absolute;
  height: 15px;
}

.treeViewInner > .treeViewRow:not(:first-child)::before,
.treeViewSegment > .treeViewRow::before {
  border-top: var(--tree-border);
  content: " ";
  margin-left: -15px;
  margin-top: 11px;
  position: absolute;
  width: 15px;
}

.treeViewNode {
  cursor: pointer;
  display: inline-block;
  font-family: "Chakra Petch", "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0 1px;
  padding: 3px;
}

.treeViewNode-small {
  font-size: 14px;
}

.treeViewNode:hover {
  background-color: var(--blue-hover-bg);
}

.treeViewNode.selectedNode {
  background-color: var(--blue-selected-bg);
  font-weight: 700;
}

.treeViewNode.warningNode {
  animation-name: warningPulsate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.treeViewNode.selectedNode.warningNode {
  background-color: var(--warning-selected-node-bg);
  color: #111;

  animation: none;
}

.treeViewNode.transpositionNode {
  background-color: var(--transposition-node-bg);
}

.treeViewNode.transpositionNode:hover {
  background-color: var(--transposition-hover-node-bg);
}

.treeViewNode.selectedNode.transpositionNode {
  background-color: var(--transposition-selected-node-bg);
}

@keyframes warningPulsate {
  0% {
    background-color: var(--light-gray-bg);
    color: var(--light-gray-fg);
  }
  25% {
    background-color: #dddd68;
    color: black;
  }
  75% {
    background-color: #dddd68;
    color: black;
  }
  100% {
    background-color: var(--light-gray-bg);
    color: var(--light-gray-fg);
  }
}

.warningTooltip-theme {
  background-color: var(--warning-tooltip-bg);
  color: #222;
  text-align: left;
}

.warningTooltipContent-title {
  border-bottom: solid 1px #222;
  font-weight: bold;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.warningTooltipContent-list {
  margin: 0;
  padding-inline-start: 25px;
}

.transpositionTooltip-theme {
  background-color: var(--very-light-gray-bg);
  color: var(--light-gray-fg);
  text-align: left;
}

.transpositionTooltipContent-title {
  border-bottom: var(--light-gray-border);
  font-weight: bold;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.treeButtons {
  margin-top: 5px;
  text-align: center;
  width: 100%;
}

.treeRight {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.treeTrash {
  padding: 5px 7px !important;
  width: 14px !important;
}

.treeLeft,
.treeRight,
.treeTrash,
.treeExport {
  display: inline-block;
  padding: 5px;
  height: 15px;
  margin: 0;
  width: 18px;
}

/** Evaluate mode */

#evaluateMode {
  margin: 0 auto;
  text-align: center;
}

#evaluateMode .col3:first-child {
  text-align: center;
}

#evaluateMode .col3:nth-child(2) {
  text-align: left;
}

#evaluateMode .col3:last-child {
  text-align: left;
}

.col3 {
  display: inline-block;
  vertical-align: top;
  width: 32%;
}

#emptyEvaluate {
  padding-top: 15px;
  text-align: center;
}

#evaluateBoard {
  background-size: cover;
  display: inline-block;
  height: 70vh;
  width: 70vh;
  max-height: calc(32vw - 100px);
  max-width: calc(32vw - 100px);
}

#insightsPanel {
  margin: 0 30px;
  max-height: 70vh;
}

.insightLabel {
  font-weight: bold;
  margin-bottom: 5px;
}

.insightLabel:not(:first-child) {
  margin-top: 15px;
}

.insight {
  text-align: left;
}

.insight .insightTitle {
  border-bottom: var(--light-gray-border);
  font-size: 12px;
  text-transform: uppercase;
}

.insight .insightValue {
  font-size: 24px;
  font-weight: bold;
}

/** Toasts */

.toast {
  max-width: 450px !important;
  opacity: 1 !important;
  width: 80% !important;
}

/** Feedback button */

#doorbell-button {
  background-color: #ddd;
  color: black;
}

#doorbell-button:hover {
  background-color: #eee;
}

/** Modal */

.modal {
  background-color: var(--modal-gray-bg);
  box-shadow: var(--modal-box-shadow);
  left: 50%;
  padding: 15px;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.modal .modalButton {
  display: inline-block;
  padding: 5px 15px;
  text-transform: uppercase;
}

/** Fixed bottom buttons */

#fixedBottomButtons {
  bottom: 0;
  left: 0;
  position: fixed;
}

#soundToggler {
  left: 0;
}

#themePalette {
  background-image: url("../img/theme.png");
  left: 45px;
}

#soundToggler,
#themePalette {
  cursor: pointer;
  display: inline-block;
  opacity: 0.8;
  padding: 10px;
}

#soundToggler:hover,
#themePalette:hover {
  opacity: 1;
}

#soundToggler > #soundOn,
#soundToggler > #soundOff,
#themePalette > img {
  height: 33px;
}

.themePaletteTooltip-theme .tippy-backdrop {
  background: none;
  border: none;
}

#themePaletteTooltipContent {
  background-color: var(--modal-gray-bg);
  border: var(--very-dark-gray-border);
  display: block;
  margin: 0;
  max-width: 160px;
  padding: 6px;
}

#themePaletteTooltipContent > div {
  background-size: 256px;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  opacity: 0.9;
  margin: 6px;
  width: 64px;
}

#themePaletteTooltipContent > div:hover {
  opacity: 1;
}

#themePaletteTooltipContent > div.selectedBoardTheme {
  border: solid 2px var(--blue-selected-bg);
  margin: 4px;
  opacity: 1;
}

/** Priveleged */

#privelegedCopyButton {
  left: 0;
  padding: 5px;
  position: fixed;
  text-transform: uppercase;
  top: 0;
}

#privelegedCopyDialog {
  width: 300px;
}

#privelegedCopyDialog > #privelegedCopyInput {
  font-size: 16px;
  height: 32px;
  margin: 5px 0;
  width: 100%;
}

/** Footer */

#footer {
  border-top: var(--very-dark-gray-border);
  color: var(--dark-gray-fg);
  font-size: 12px;
  margin: 0 auto;
  max-width: 800px;
  padding: 15px 0 40px 0;
  text-align: center;
  width: 90%;
}

#footer a {
  color: var(--dark-gray-fg);
  margin: 0;
  padding: 0 5px;
  text-decoration: none;
}

/** Other stuff */

.hidden {
  display: none !important;
}

.disabled {
  opacity: 0.3;
}

.selectable {
  cursor: pointer;

  -webkit-transition: background-color 0.2s, opacity 0.2s;
  -moz-transition: background-color 0.2s, opacity 0.2s;
  -o-transition: background-color 0.2s, opacity 0.2s;
  transition: background-color 0.2s, opacity 0.2s;
}

.selectable:hover {
  background-color: var(--gray-hover-bg);
}

.helpText {
  color: #aaa;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0px 1px 3px black;
}
